body { 
    background-color: var(--bg-color); 
    color: var(--text-color); 
    margin: 0; } 


.header { background-color: var(--card-bg); padding: 20px; 
    display: flex; justify-content: space-between; 
    align-items: center; } .button { background-color: var(--card-bg); 
        padding: 10px 20px; border: none; 
        border-radius: 5px; 
        cursor: pointer; } 
.primary { 
    background-color: var(--primary-color); 
    color: var(--bg-color); }