:root {
  --bg-color: #ffcaca;
  --text-color: #f97777;
  --card-bg: #daeec8;
  --primary-color: #f97777;
}

[data-theme="dark"] {
  --bg-color: #465641;
  --text-color: #99ab94;
  --card-bg: #262e23;
  --primary-color: #99ab94;
}



#app-root {
    flex: 1; 
    display: flex;
    flex-direction: column;
}


html, body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
   /*  height: 100%; */
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
   /*   min-height: 100vh; */
}


#app-root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
}
